{
  "extends": ["prettier/react", "airbnb", "plugin:prettier/recommended"],
  "rules": {
    "jsx-quotes": [1, "prefer-double"],
    "no-console": "error",
    "no-debugger": "error",
    "no-await-in-loop": "off",
    "no-restricted-syntax": "off",
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "linebreak-style": ["error", "windows"],
    "jsx-a11y/href-no-hash": ["off"],
    "react/jsx-filename-extension": [
      "warn",
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "max-len": [
      "warn",
      {
        "code": 80,
        "tabWidth": 2,
        "comments": 80,
        "ignoreComments": "false",
        "ignoreTrailingComments": "true",
        "ignoreUrls": "true",
        "ignoreStrings": "true",
        "ignoreTemplateLiterals": "true",
        "ignoreRegExpLiterals": "true"
      }
    ]
  },
  "plugins": ["prettier", "unicorn"],
  "env": {
    "es6": true,
    "browser": true,
    "commonjs": true,
    "jest": true,
    "node": true
  }
}
